/*StateMap CSS*/
body{
	margin: 0;
	padding: 0;
}

.map-container{
	width:2000px ;
	height: auto;
	background:#ddd;
	position: relative;
	padding: 0;
	margin: 25px ;
	line-height: 0;
}

.icon-map{
	width:100%;
	height: auto;
}

.icon-marker{
	width:  6px;
	height: 6px;
	border-radius: 50%;
	background:red;
	display: block;
	position: absolute;
	z-index: 200;
/*	top:  151px;
	left: 158px;*/
}