/*StateMap CSS*/
body {
  margin: 0;
  padding: 0;
}

.map-container {
  width: 80%;
  height: auto;
  background: #eee;
  position: relative;
  padding: 0;
  margin: 50px auto;
  line-height: 0;
}

.icon-map {
  width: 100%;
  height: auto;
}

.icon-marker {
  width: 14px;
  height: auto;
  display: block;
  position: absolute;
}
